{% extends "base.html" %}
{% block content %}

<h2>Update Member Details</h2>

<form action="/members/{{ member.id }}" method="POST">
    <div class="inputbox">
        <input type="text" name="name" id="name_input" required="required">
        <label>Member Name</label>
      </div>
      <div class="inputbox">
        <input type="checkbox" name="premium" id="premium_input">
        <label>Premium Membership?</label>
      </div>
      <div class="inputbox">
        <input type="checkbox" name="active" id="active_input">
        <label>Active Member?</label>
      </div>
      <div class="inputbox">
        <input type="submit" value="Update">
      </div>
</form>

{% endblock %}