{% extends "base.html" %}
{% block content %}
<div class="input_form_new">
<h1>Update Member Details</h1>

<form action="/members/{{ member.id }}" method="POST">
    <div class="inputbox">
        <label>Member Name</label>
        <input type="text" name="name" id="name_input" value="{{member.name}}">
      </div>
      <div class="inputbox">
        <label>Premium Membership?</label>
        <input type="checkbox" name="premium" id="premium_input">
      </div>
      <div class="inputbox">
        <label>Active Member?</label>
        <input type="checkbox" name="active" id="active_input">
      </div>
      <div class="inputbox">
        <input type="submit" value="Update">
      </div>
</form>
</div>
{% endblock %}