{% extends "base.html" %}
{% block content %}

<h2>Update Class Details</h2>

<form action="/{{ gym_class.id }}" method="POST">
    <div class="inputbox">
        <input type="text" name="name" id="name_input" >
        <label>Class Name</label>
      </div>
      <div class="calendar">
      <label for="date">Date</label>
      <input type="date" name="date" id="date">
      </div>
      <div class="inputbox">
        <input type="text" name="price" id="price_input" >
        <label>Price</label>
      </div>
      <div class="inputbox">
        <input type="text" name="capacity" id="capacity_input">
        <label>Capacity</label>
      </div>
      <div class="inputbox">
        <input type="checkbox" name="premium" id="premium_input">
        <label>Premium Membership Required?</label>
      </div>
      <div class="inputbox">
        <input type="submit" value="Update Class">
      </div>
</form>

{% endblock %}