{% extends "base.html" %}
{% block content %}
<div class="input_form_new">
<h1>Update Class Details</h1>

<form action="/{{ gym_class.id }}" method="POST">
    <div class="inputbox">
        <label>Class Name</label>
        <input type="text" name="name" id="name_input" value = {{gym_class.name}}>
      </div>
      <div class="calendar">
      <label for="date">Date</label>
      <input type="date" name="date" id="date" value = {{gym_class.date}}>
      </div>
      <div class="inputbox">
        <label>Time</label>
        <input type="time" name="time" id="time_input" value= {{gym_class.time}} >
      </div>
      <div class="inputbox">
        <label>Price</label>
        <input type="text" name="price" id="price_input" value= {{gym_class.price}} >
      </div>
      <div class="inputbox">
        <label>Capacity</label>
        <input type="text" name="capacity" id="capacity_input" value = {{gym_class.capacity}}>
      </div>
      <div class="inputbox">
        <label>Premium Membership Required?</label>
        <input type="checkbox" name="premium" id="premium_input">
      </div>
      <div class="inputbox">
        <input type="submit" value="Update Class">
      </div>
</form>
</div>
{% endblock %}