{% extends "base.html" %}
{% block content %}
<h1>Class Information</h1>
<div class="classes">

    <div class="class_name">
    {{gym_class.name}}
    </div>
    
    <div class="date">
        {{gym_class.date}}
    </div>  
    
    <div class="price">
        {{gym_class.price}}
    </div>
    
    <div class="capacity">
        {{gym_class.capacity}}
    </div>

    <div class="premium">
        {{gym_class.premium}}
    </div>

    <div class="members">
        {% for member in members_to_show %}
        <div class="member">
            
            <div class="member_name">
            {{member.name}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<p><a href="/{{gym_class.id}}/update">Edit Class</a></p>

{% endblock %}