{% extends "base.html" %}

{% block content %}
<div class="input_form_new">
    <h1>Add a new class</h1>
    <form action="/" method="post">
      <div class="inputbox">
        <label>Class Name</label>
        <input type="text" name="name" id="name_input" required="required">
      </div>
      <div class="calendar">
      <label for="date">Date</label>
      <input type="date" name="date" id="date">
      </div>
      <div class="inputbox">
        <label>Price</label>
        <input type="text" name="price" id="price_input" required="required">
      </div>
      <div class="inputbox">
        <label>Capacity</label>
        <input type="text" name="capacity" id="capacity_input"required="required">
      </div>
      <div class="inputbox">
        <label>Premium Membership Required?</label>
        <input type="checkbox" name="premium" id="premium_input">
      </div>
      <div class="inputbox">
        <input type="submit" value="Add Class">
      </div>
    </form>
  </div>
{% endblock %}


