<!-- This is where the classes will be displayed, as well as the summary of member info -->

{% extends "base.html" %}
{% block content %}
<h1>Dashboard - Bod Squad</h1>
<h2>Class Information - All Classes</h2>
<div class ="classes_container">

{% for gym_class in classes %}
<div class="classes">
    
    <div class="class_name">
    <b>{{gym_class.name}}</b>
    <span>
        {% if gym_class.name=="Yoga"%}
        <img src="static/yoga.jpg"
        height ="21"
        width="21">
    {% elif gym_class.name=="Weightlifting"%}
        <img src="static/weight.jpg"
        height ="21"
        width="21">
    {% elif gym_class.name=="Run Club"%}
        <img src="static/running.jpg"
        height ="21"
        width="21">
    {% elif gym_class.name=="Kettlebells"%}
        <img src="static/kettlebell.jpg"
        height ="21"
        width="21">
    {% elif gym_class.name=="HIIT"%}
        <img src="static/hiit.jpg"
        height ="21"
        width="25">
    {% endif %}
    </span>
    </div>
    
    <div class="date">
        Date : {{gym_class.date}}
    </div>  
    
    <div class="price">
       Price : £{{gym_class.price}}
    </div>
    
    <div class="capacity">
        Capacity : {{gym_class.capacity}}
    </div>

    <div> Premium Class : 
        {% if gym_class.premium %}
        <span> &#9989;</span>
        {% else %}
        <span>&#10060;</span>
        {% endif %}
    </div>

    <p><a href="/{{gym_class.id}}">View / Edit Class</a></p>
</div>
{% endfor %}
</div>

<div class="members_summary_container">
    <table>
        <th>Status</th>
        <th>No. Members</th>
        <tr>
            <td>Active</td>
            <td>{{no_active_members}}</td>
        </tr>
        <tr>
            <td>Inactive</td>
            <td>{{no_inactive_members}}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>{{total_no_members}}</td>
        </tr>
    </table>
</div>

{% endblock %}