<!-- This is where the classes will be displayed, as well as the summary of member info -->

{% extends "base.html" %}
{% block content %}
<h1>Bod Squad Dashboard</h1>
<div class="dashboard_container">
    <div class ="classes_container">
    <h2>Upcoming Classes</h2>
    <table class="upcoming_classes_table">
    {% for gym_class in classes %}
    <tr>
        <td class="date">{{gym_class.date}} - {{gym_class.time}}</td>
        <td> 
                {% if gym_class.name=="Yoga"%}
                <img src="static/yoga.jpg"
                height ="21"
                width="21">
            {% elif gym_class.name=="Weightlifting"%}
                <img src="static/weight.jpg"
                height ="21"
                width="21">
            {% elif gym_class.name=="Run Club"%}
                <img src="static/running.jpg"
                height ="21"
                width="21">
            {% elif gym_class.name=="Kettlebells"%}
                <img src="static/kettlebell.jpg"
                height ="21"
                width="21">
            {% elif gym_class.name=="HIIT"%}
                <img src="static/hiit.jpg"
                height ="21"
                width="25">
            {% endif %}
            <span><b>{{gym_class.name}}</b></span>
        </td>
        <td>Capacity : {{gym_class.capacity}}</td>
        <td>
            {% if gym_class.premium %}
            <p> &#11088; Premium &#11088; </p>
            {% else %}
            <p> Standard </p>
            {% endif %}
        </td>
        <td><a href="/{{gym_class.id}}">View / Edit Class</a></td>
    </tr>
    {% endfor %}
    </table>
    </div>


    <div class="members_summary_container">
    <h2>Member Numbers</h2>
    <div class="members_table">
    <table>
        <th>Status </th>
        <th>Standard</th>
        <th>Premium</th>
        <th>Total</th>
        <tr>
            <td>Active</td>
            <td class="center_headings">{{no_active_standard_members}}</td>
            <td class="center_headings">{{no_active_premium_members}}</td>
            <td class="center_headings">{{no_active_members}}</td>
        </tr>
        <tr>
            <td>Inactive</td>
            <td class="center_headings">{{no_inactive_standard_members}}</td>
            <td class="center_headings">{{no_inactive_premium_members}}</td>
            <td class="center_headings">{{no_inactive_members}}</td>
        </tr>
        <tr>
            <td><b>Total</b></td>
            <td class="center_headings">{{no_standard_members}}</td>
            <td class="center_headings">{{no_premium_members}}</td>
            <td class="center_headings"><b>{{total_no_members}}</b></td>
        </tr>
    </table>
    </div>
    </div>

    <div class="financials_summary_container">
        <h2>Financials</h2>
        <p class="revenue">£{{total_revenue}}</p>
        <p>Projected Revenue This Month</p>
    </div>

</div>

{% endblock %}